{{#> _layout/static title="Visualisasi Data" name="visualisasi" }}
{{#*inline "content"}}

<h1>Visualisasi Data</h1>
<h2>Video formulir C1</h2>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/_cgl1tMVcJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></p>
<p>
    Video ini (dengan durasi 7 jam lebih) menampilkan formulir rekap suara (C1) dari semua TPS seluruh Indonesia dengan susunan dari Sabang sampai Merauke.
    Formulir dengan tulisan tangan sudah didigitisasi oleh KPU dan diverifikasi oleh relawan2 Kawal Pemilu.
    Setiap detik ada 25 formulir yang ditampilkan.
</p>


{{/inline}}
{{/_layout/static}}
